<component name="ArtifactManager">
  <artifact type="war" name="Spring_Crud:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="sample-spring-crud-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring_Crud:war exploded" />
    </root>
  </artifact>
</component>